.single-team-member{
    padding: 9.2rem 0 12.9rem;
    .team-member-name{
        margin-bottom: 8px;
    }
    .team-member-position{
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 1.14%;
    }
    .team-member-linkedin{
        color: #444;
        font-size: 2rem;
        text-decoration: none;
        &:hover{
            color: $primary;
        }
        margin-bottom: 3rem;
        @media(min-width:992px){
            margin-bottom: 5.2rem;
        }
    }
    .team-member-image{
        position: sticky;
        -webkit-position: sticky;
        top: 0;
        img{
            width: 100%;
            display: block;
        }
       
    }
}
