.team-page-members{
    
    padding: 11.4rem 0 12.7rem;
    
    .team-page-members-title{
        margin-bottom: 5.6rem;
    }
    .team-member{
        margin-bottom: 5.9rem;
        .team-member-image{
            margin-bottom: 2.2rem;
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                transition: 0.5s linear;
                display: block;
                width: 100%;
            }
        }
        .team-member-name{
            a{
                color: #000;
                text-decoration: none;
                font-size: 2rem;
                line-height: 2rem;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
    
}